---
layout: post
---

    {{ content }}

    {% for work in site.data.works %}
      {% assign page_tag_inDB = false %}
      {% for tag in page.tags %}
        {% if tag == work.id %}{% assign page_tag_inDB = true %}{% endif %}
      {% endfor %}
      {% if page_tag_inDB %}
        {% if work.EMFlink %}
          <div class="side_pic"><h4>Published</h4>
          <a href="{{work.EMFlink}}"><img src="{{work.EMFpic}}" width="180" border=1></a>
          </div>
        {% endif %}
        {% for movement in work.mvts %}
          <h4>{{ movement.title }}</h4>
          {% if movement.rec %}<p class="recording">{{ movement.rec }}</p>{% endif %}
          {% if movement.box %}
            <iframe src="https://app.box.com/embed/preview/{{ movement.box }}?view=&sort=&direction=ASC&theme=dark" width="330" height="88" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
          {% endif %}
          {% if movement.soundcloud %}{% endif %}
          {% if movement.yt %}
            <div class="videoWrapper">
            <iframe id="ytplayer" type="text/html" src="http://www.youtube.com/embed/{{ movement.yt }}?autoplay=0"
  frameborder="0" />
            </div>
          {% endif %}
        {% endfor %}
        {% if work.score %}
          <h3>Score</h3>
          {% for score in work.score %}
            <iframe src="https://app.box.com/embed/preview/{{ score.box }}?theme=light&view=&sort=&direction=ASC" width="500" height="730" frameBorder="1" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}